#log {
    color: darkorchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-decoration:none;
    margin-left: 300px;
}

#linkc {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-right: 500px;
    font-size: 22px;
    margin-top: 30px;
    border-top-width: 10px;
    margin-bottom: 30px;
}

.nana {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

#uno{
    color: seagreen;
    margin-right: 30px;
}

#dos{
    color: darkslateblue;
    margin-right: 30px; 
    margin-left: 30px;
}

#tres{
    color: black;
    margin-left: 30px;
}

*{
    text-decoration: none;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    background-color: #FAF3FF;
    font-family: 'Raleway', sans-serif;
}

.titulo {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: white;
    display: inline;
    font-size: 55px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.sabor { 
    color: rgb(232, 212, 255);
    margin: 7px 0;
    font-size: 85px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 10;
}

.linea-division {
    width: 50%;
    height: 2px;
    background-color: #36221c;
    margin-top: 0px;

}


.carousel {
    min-height: 500px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 800px;
    height: 500px;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

#yo {
    width:260px;
    height:260px;
    border-radius:160px;
    border: 6px solid rgb(202, 141, 233);
    float: right;
    margin-right: 326px;

}

.texto {
    margin-top: 45px;
    margin-right: 326px;
    margin-left: 326px;
    font-size: 20px;
}

#MPSW {
    color: darkorchid;
    margin-left: 326px;
    display: inline;
    font-family: cursive;
    margin-top: 150px;
}

#ll {
    margin-top: 130px;
}

#karama {
    color: rgb(232, 212, 255);
}

#QS {
    margin-top: 100px;
    margin-left: 326px;
    font-family: Georgia;  
}

#logo {
    margin-left: 326px;
}


.boton {
    margin-right: 10px;
    margin-left: 10px;
}

#dna  {
    margin-right: 180px;
    margin-left: 326px;
    margin-top: 50px;
    font-style: italic;
    font-size: 29px;
    font-family: Consolas;
    color: rgb(28, 0, 34);
    text-decoration: underline;
}

.texto2 {
    margin-top: 25px;
    margin-right: 326px;
    margin-left: 326px;
    font-size: 19px;
}


#PS {
    width:280px;
    height:280px;
    float: right;
    margin-right: 326px;
    margin-left: 10px;
}

#pie{
    background-color: rgb(154, 134, 180);
}

#flogo {
    width: 40px;
    height: 40px;
    margin-left: 700px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: inline;
}

#flogo2 {
    width: 62px;
    height: 62px;
    margin-left: 190px;
    margin-top: 10px;
    margin-bottom: 2px;
    display: inline;
    margin-bottom: 10px;
}

#texto3 {
    text-align: center;
    font-size: 20px;
    color: rgb(18, 5, 31);
}

#flogo3 {
    width: 37px;
    height: 37px;
    margin-left: 185px;
    margin-top: 30px;
    margin-bottom: 23px;
    display: inline;
}
